<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Listing Users</h4>
  </div>
  <%= link_to 'Create user', new_user_path %>
  <% if @users.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">DOB</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <%  @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.phone %></td>
              <td><%= user.DOB %></td>
              <td><%= button_to 'Delete',
              user,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
        </td>
            
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Welcome! </span>
      Create your first user
    </div>
  <% end %>
</div>