<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">New User</h4>
  </div>
  <div>
  </div>
  <div class="row justify-content-center">
    <%= form_with model: @user, url: users_path, local: true do |form| %>
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :DOB %>
        <%= form.text_field :DOB, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :phone %>
        <%= form.text_area :phone, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.submit class: 'form-control btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
